.Board {
  width: fit-content;
  height: fit-content;
  background-color: burlywood;
  margin: auto;
}

.Row {
  display: flex;
}

.TileButton {
  background-color: whitesmoke;
  padding: 0;
  border: 0;
  margin: 0;

}





.TileCorner {
  width: 10%;
  height: 100%;
  margin: 0;
}







