.Body {
  background-color: green;
  min-width: 80%;
  min-height: 100%;
  width: fit-content;
  height: fit-content;
  
}
.StatesColumn {
  background-color: burlywood;
  width: 20%;
  height: 400px;
  margin: 0;

}

.Hub {
  width: 100%;
  height: 100%;
  display: flex;

  
}

.GameState {
  width: 60%;
  height: 100px;
  background-color: red;
  display: flex;
  margin: auto;

}


.MoveDisplay {
/* 
  width: fit-content;
 */
  width: 200px;

  height: 60px;
  background-color: white;
  display: flex;
  margin: auto;
}

.MoveDataDisplay {
  width: 40%;
  height: 100%;
  margin: auto;
}

.MoveDataValue {
  width: 100%;
  height: 40%;
  display: flex;
  margin: auto;
}

