.Hub {
  background-color: yellow;
  min-width: 100%;
  min-height: 100%;
  width: fit-content;
  height: fit-content;
  
}

.GameState {
  width: 60%;
  height: 100px;
  background-color: red;
  display: flex;
  margin: auto;

}

.PieceSelector {
  display: flex;
  width: 60%;
  margin: auto;
}

.PieceSelectorPiece {
  margin: auto;
}

.KeyString {
  margin: auto;
  display: flex;
  width: 100%;
  font-size: 20px;
}